body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #edecef;
}

.image img {
    width: 200px;
    height: auto;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    outline: none;
    width: 400px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.bi-search {
    font-size: 1.5rem;
    color: #777;
    margin-left: -30px;
}

.icons i {
    font-size: 1.5rem;
    color: #777;
    margin-left: 10px;
}

.icons i:hover {
    font-size: 1.5rem;
    color: #81e489;
    margin-left: 10px;
}

.notification-badge {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #12c344;
    color: #fff;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 12px;
    z-index: 1;
}



.icons img {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin-left: 10px;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    overflow-y: auto;

}

.image img {
    width: 150px;

}

.main-content {
    margin-left: 260px;
    padding: 20px;
}

.sidebar .sidebar-image {
    text-align: center;
    margin-bottom: 20px;

}

.sidebar .sidebar-image {
    width: 200px;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.sidebar {
    background-color: #f2f3f2;
    height: 100vh;
    padding: 20px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.sidebar {
    padding: 10px;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #ddd;

}

.sidebar-h2 {
    margin-top: 20px;
    color: #666;

}

.sidebar img {
    width: 20px;
    margin-right: 10px;
}


.sidebar a {
    display: block;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar a.active {
    background-color: #23c55f;
    color: white;
    border-radius: 10px;
}

.sidebar a:hover:not(.active) {
    background-color: #23c55f;
    color: white;
    border-radius: 10px;
}

.sidebar a i {
    margin-right: 8px;
}

.sidebar-h2 {
    margin: 20px 0;
    color: #a3a2aa;
    font-size: 1em;
    text-transform: uppercase;

}

.h2 {
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    color: #89888e;
}

.h2 span {
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}

.h3 {
    font-weight: bold;
    margin-left: 100px;
    font-size: 24px;
}

.main-content {
    padding: 20px;
    width: calc(100% - 300px);
    float: right;
    background-color: #ffff;

}

.grid-item ul li img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 0px;

}

.grid-item {
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 20px;
}


.grid-item ul {
    list-style: none;
    padding: 0;

}


.grid-item ul li {
    display: flex;
    color: black;
    font-weight: bold;
    align-items: center;
    margin-bottom: 5px;

}


.grid-item ul li img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}


.grid-item ul li span {
    color: #333;

}


.followers-container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ededf1;

}

.followers-container h1 {
    font-size: 1.5em;
    color: black;
    padding: 20px;
}

.followers-container h2 {
    color: #39393b;
    padding: 20px;
    font-size: 15px;
}

.followers-container p {
    color: #9da0aa;
    font-size: 10px;
}

.horizontal-list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
}

.horizontal-list li {
    margin-right: 20px;
    border: 1px solid #f4f4f6;
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;

}

.horizontal-list li1 {
    margin-right: 0;
    background-color: #e7f7ff;

}

.simple-bar-chart {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 20px;
}

.item {
    flex: 1 1 calc(33.33% - 10px);
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0;
    gap: 10px;
    text-align: center;
}

.simple-bar-chart {
    --line-count: 10;
    --line-color: currentcolor;
    --line-opacity: 0.25;
    --item-gap: 2%;
    --item-default-color: #060606;

    height: 10rem;
    width: 40em;
    display: grid;
    grid-auto-flow: column;
    gap: var(--item-gap);
    align-items: end;
    padding-inline: var(--item-gap);
    --padding-block: 1.5rem;
    /*space for labels*/
    padding-block: var(--padding-block);
    position: relative;
    isolation: isolate;
}

.simple-bar-chart::after {
    content: "";
    position: absolute;
    inset: var(--padding-block) 0;
    z-index: -1;
    --line-width: 1px;
    --line-spacing: calc(100% / var(--line-count));
    background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
    box-shadow: 0 var(--line-width) 0 var(--line-color);
    opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
    height: calc(1% * var(--val));
    background-color: var(--clr, var(--item-default-color));
    position: relative;
    animation: item-height 1s ease forwards
}

@keyframes item-height {
    from {
        height: 0
    }
}

.simple-bar-chart>.item>* {
    position: absolute;
    text-align: center
}

.simple-bar-chart>.item>.label {
    inset: 100% 0 auto 0
}

.simple-bar-chart>.item>.value {
    inset: auto 0 100% 0
}

.posts-container {
    max-width: 800px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ededf1;

}

.posts-container {
    max-width: 100%;
    overflow: hidden;
    max-width: 1000px;
}

.posts {
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}


.post-categories {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.post-categories li {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 0;
    background-color: #ffff;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.post-categories li.active {
    border-bottom: 2px solid #2fb8fc;
}



.content {
    display: none;
}

/* Show content for active category */
.active-content {
    display: block;
}

@media screen and (max-width: 767.98px) {
    .main-content {
        width: 100%;
        float: none;
        border-radius: 0;
        box-shadow: none;

    }
}

@media screen and (max-width: 767.98px) {
    .sidebar {
        width: 100%;
        max-width: 300px;
        position: static;
        height: auto;
        overflow-y: visible;
        top: 0;

    }

    .main-content {
        margin-left: 0;

    }
}