body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content:
    space-between;
  align-items: center;
  border: 1px solid #edecef;
}

.image img {
  width: 200px;
  height: auto;
}

.search-container {
  display: flex;
  align-items:
    center;
}

.search-container input[type="text"] {
  outline: none;
  width: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.bi-search {
  font-size: 1.5rem;
  color: #777;
  margin-left: -30px;
}

.icons i {
  font-size: 1.5rem;
  color: #777;
  margin-left: 10px;
  padding: 10px;
}

.icons i:hover {
  font-size:
    1.5rem;
  color: #81e489;
  margin-left: 10px;
}

.notification-badge {
  position:
    absolute;
  top: 8px;
  right: 8px;
  background-color: #12c344;
  color: #fff;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  z-index: 1;
}

.icons img {
  width: 50px;
  /* Set the width of the image */
  height: 50px;
  /* Set the height of the image */
  border-radius: 50%;
  /* Make it circular */
  border: 2px solid #fff;
  /* Add a border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}



.sidebar .sidebar-image {
  text-align: center;
  margin-bottom: 20px;

}

.sidebar .sidebar-image {
  width: 200px;
  height: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.sidebar {
  background-color: #f3f2f2;
  height: 100vh;
  padding: 20px;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    width: 100%;
    max-width: 300px;
    position: static;
    /* Change position to static for smaller screens */
    height: auto;
    overflow-y: visible;
  }

  .main-content {
    margin-left: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    width: 100%;
    max-width:
      300px;
    position: static;
    height: auto;
    overflow-y: visible;
    top: 0;
  }

  .main-content {
    margin-left: 0;
  }
}

.sidebar a {
  display: block;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s,
    color 0.3s;
}

.sidebar a.active {
  background-color: #23c55f;
  color: white;
  border-radius: 10px;
}

.sidebar a:hover:not(.active) {
  background-color:
    #23c55f;
  color: white;
  border-radius: 10px;
}

.sidebar a i {
  margin-right: 8px;
}

.sidebar-h2 {
  margin: 20px 0;
  color: #a3a2aa;
  font-size: 1em;
  text-transform:
    uppercase;
}

.h2 {
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  color: #89888e;
}

.h2 span {
  color: black;
  font-weight: bold;
  padding: 5px 10px;
}

.h3 {
  font-weight: bold;
  margin-left: 100px;
  font-size: 24px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-left: 35px;
  margin-right: 50px;
}

.grid-item {
  background-color: #fefffe;
  padding: 20px;
  border-radius: 8px;
  box-shadow:
    20px 20px 40px #efeef1;
}

.grid-item:first-child {
  background-color: #22c45f;
  font-size: 20px;
  box-shadow:
    20px 20px 40px grey;
  padding: 20px;
}

.grid-item:first-child ul li {
  color: #fff;
  list-style:
    none;
  padding: 0;
}

.grid-item:first-child li span {
  font-weight: bold;
  color:
    #fff;
  font-size: 35px;
}

.grid-item:first-child ul li p {
  font-size: 10px;
  color: #ebe4e4;
}



.grid-item:first-child ul li i.bi.bi-arrow-up {
  margin-right:
    5px;
  color: #e4e5e5;
}

.grid-item ul {
  list-style: none;
  padding: 0;
}

.grid-item ul li span {
  font-weight: bold;
  font-size: 30px;
  color: #6c7d92;
}

.grid-item ul li {
  margin-top: 10px;
  font-size: 20px;
  color: #a8b3be;
}

.grid-item ul li p {
  display: inline;
  font-size: 11px;
  color: #666;
}

.grid-item ul li i.bi-arrow-up {
  margin-right:
    5px;
  color: black;
}

canvas {
  height: 100%;
  width: 100%;
}

#organicVsPaidChartContainer {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#organicVsPaidChart {
  width: 100%;
  height: auto;
  display: block;
}

.h4 {
  text-align: left;
  margin-top: 20px;
  font-size: 1.5rem;
  color: #333;
  clear: both;
}


.additional-content-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 20px;
  margin: 20px;
}


.additional-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.real-time-link {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  /* Link color */
}

/* Styles for user traffic chart container */
#userTrafficChartContainer {
  margin-top: 20px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);

}

.grid1,
.grid2,
.grid3 {
  background-color: #f0f0f0;
  height: 100%;
  padding: 60px;

}

.grid1 {
  padding: 60px;
  margin-left: 30px;
  border: 1px solid #e6e7e9;
  border-radius: 20px;
  background-color: #fefffe;
}

.grid2,
.grid3 {
  border: 1px solid #e6e7e9;
  border-radius: 20px;
  background-color: #fefffe;
}

#user-traffic-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

#user-traffic-number {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

#user-traffic-description {
  font-size: 16px;
  color: #555;
}

.simple-bar-chart {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}

.item {
  flex: 1 1 calc(33.33% - 10px);
  width: 20px;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  gap: 10px;
  text-align: center;
}

.label {
  font-weight: bold;

}

.value {
  color: #555;

}



.simple-bar-chart {

  --line-opacity: 0.25;
  --item-gap: 2px;
  --item-default-color: #060606;

  height: 10rem;
  display: grid;
  grid-auto-flow: column;
  gap: var(--item-gap);
  align-items: end;
  padding-inline: var(--item-gap);
  --padding-block: 20px;

  padding-block: var(--padding-block);
  position: relative;
  isolation: isolate;
  margin-top: 0;
}

.simple-bar-chart::after {
  content: "";
  position: absolute;
  inset: var(--padding-block) 0;
  z-index: -1;
  --line-width: 1px;
  --line-spacing: calc(100% / var(--line-count));
  background-image: repeating-linear-gradient(to top, transparent 0 calc(var(--line-spacing) - var(--line-width)), var(--line-color) 0 var(--line-spacing));
  box-shadow: 0 var(--line-width) 0 var(--line-color);
  opacity: var(--line-opacity);
}

.simple-bar-chart>.item {
  height: calc(1% * var(--val));
  background-color: var(--clr, var(--item-default-color));
  position: relative;
  animation: item-height 1s ease forwards
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.real-time-link {
  margin-bottom: 20px;
  padding: 80px;

}

@keyframes item-height {
  from {
    height: 0
  }
}

.simple-bar-chart>.item>* {
  position: absolute;
  text-align: center
}

.simple-bar-chart>.item>.label {
  inset: 100% 0 auto 0
}

.simple-bar-chart>.item>.value {
  inset: auto 0 100% 0
}

@media screen and (max-width: 767.98px) {
  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 0;
  }
}

@media (max-width: 575.98px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main-content {
    padding: 20px 50px;
  }
}